$pink-color: #FFB8CA;
$white-color:#FFFFFF;
$passion-color:#D41443;


$main-bg-color:#F0D1A5;
$second-bg-color: #C2E297;

$social-icon-color:  #907E82;

$passion-color:#D41443;

$light-pink: #FFF5F6;
$natural-pink-color: #FFA5BA;
$products-title-red-color:#D41443;
$cofee-color: #F0D1A5;
$milk-shake-color: #C2E297;
$grey-background-color:#FAFAFA;
$grey-dots-color:#D9D9D9;
$quotes-grey-color:#E1E1E1;
$home-icon-red-color:#D31342;
$light-caffe-color:#F0D1A5;
$food-truck-color:#C2E297;
$dark-grey-color:#907E82;

$time:250ms;
$time-function:cubic-bezier(0.4, 0, 0.2, 1);


//mobile menu 
$mobile-menu-backgroundcolor:#E17992;
$buton-hover-focus-color:#ECEBEB;
$mobile-menu-border-color:#E18298;
