<section class="advertisment">
    <div class="ad-description">
        <h1 class="ad-description__title">ice cream <br> made with <br> <span>passion</span> </h1>
        <button type="button" class="ad-description__products-button">Products</button>
        <button type="button" class="ad-description__how-its-made-button">How it's made?</button>

        <div class="bio-eco">
            <img src="/src/images/advertisment/bio-eco.png" alt="" class="bio-eco__img">
            
            <div class="lorem-container">
                <p class="lorem-container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <img src="/src/images/advertisment/arrow-right.png" alt="" class="lorem-container__arrow-right">
                
            </div>
    
        </div>

    </div>
    

    <div class="add-illustration">
        <div class="ice-cream">
            <img src="/src/images/advertisment/big-ice-cream.png" alt="" class="ice-cream__img">
        </div>
    <div class="so-tasty">
        <div class="sixteen">
            <p>16</p>
            <img src="/src/images/advertisment/white-ellipse.png" alt="">
            <p>cafes</p>
        </div>
        <div class="twenty-three">
            <p>23</p>
            <img src="/src/images/advertisment/white-ellipse.png" alt="">
            <p>food trucks</p>
        </div>
        <div class="lady">
            <img src="/src/images/advertisment/lady-tasting-ice-cream.png" alt="">
        </div>

        </div>
    </div>



</section>