<section class="advertisment">
  <div class="ad-description">
    <h1 class="ad-description__title">
      ice cream <br />
      made with <br />
      <span>passion</span>
    </h1>
    <div class="buttons">
    <button type="button" class="ad-description__products-button">
      Products
    </button>
    <button type="button" class="ad-description__how-its-made-button">
      How it's made?
    </button>
    </div>
    <div class="bio-eco">
      <img
        src="/src/images/advertisment/bio-eco.png"
        alt=""
        class="bio-eco__img"
      />

      <div class="lorem-container">
        <p class="lorem-container__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <img
          src="/src/images/advertisment/arrow-right.png"
          alt=""
          class="lorem-container__arrow-right"
        />
      </div>
    </div>
  </div>

  <div class="add-illustration">
    <img
      src="/src/images/advertisment/pink-ellipse.png"
      alt=""
      class="add-illustration__pink-ellipse"
    />
    <img
      src="/src/images/advertisment/big-ice-cream.png"
      alt=""
      class="add-illustration__img"
    />
    <div class="details">
      <div class="numbers">
        <div class="sixteen">
          <img
            src="/src/images/advertisment/white-ellipse.png"
            alt=""
            class="sixteen__white-ellipse"
          />
          <p class="sixteen__number">16</p>
          <p class="sixteen__cafes">cafes</p>
        </div>
        <div class="twenty-three">
          <img
            src="/src/images/advertisment/white-ellipse.png"
            alt=""
            class="twenty-three__white-circle"
          />
          <p class="twenty-three__number">23</p>
          <p class="twenty-three__trucks">food trucks</p>
        </div>
      </div>
      <div class="lady">
        <img src="/src/images/advertisment/lady-tasting-ice-cream.png" 
            alt="" 
            class="lady__img" />
      </div>
    </div>
  </div>
</section>
