<section class="advertisment">
    <div class="ad-description">
        <h1 class="ad-description__title">ice cream made with passion</h1>
        <button type="button" class="ad-description__products-button">Products</button>
        <button type="button" class="ad-description__how-its-made-button">How it's made></button>

    </div>
    <div class="bio-eco">
      
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
            
        </div>

    </div>



</section>