<header class="header">
    <div class="container">
      <nav class="nav">
        <div class="header-logo">
          <a class="header-logo__link" href="/src/index.html">
            <svg class="header-logo__icon" width="199" height="50">
              <use href="./images/header.svg#icon-logo"></use>
          </svg>
          </a>
        </div>
        <ul class="navbar">
          <li class="navbar__item">
            <a class="navbar__item__link" href="./index.html">Home</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__item__link" href="#advantages">About us</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__item__link" href="#how">How it's made?</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__item__link" href="#products">Our products</a>
          </li>
          <li class="navbar__item">
            <a class="navbar__item__link" href="#contacts">Contact</a>
          </li>
        </ul>


      <button
        class="btn-burger js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
      <svg class="btn-burger__icon" width="20" height="12">
        <use href="./images/header.svg#icon-Burger"></use>
      </svg>
      </button>


       
        <button class="btn-buy" type="button">Buy Now
          <svg class="btn-buy__icon" width="8" height="10">
            <use href="./images/header.svg#icon-arrow"></use>
          </svg>
        </button>
      </nav>
  
     
  
  
  
  
    </div>
   
  </header>