<section class="image-section" id="image">
  <h2 class="visually-hidden"></h2>
  <div class="container-center image">
    <!-- <img src="/src/images/section-4/gallery-image2.png" alt="all-icecream" /> -->
  </div>
</section>
<section class="reviews">
  <h2 class="visually-hidden"></h2>
  <div class="container-center slider-reviews">
    <div class="fade-reviews-item" style="display: block">
      <img
        class="reviews-item_foto"
        src="./images/section-4/curlylady-desktop.jpg"
        alt="happy girl"
      />
      <div class="reviews-item_text">
        <p class="reviews-item_text-desc">
          Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
          Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
          ipsum primis in nibh vel risus.
        </p>
      </div>

      <div class="reviews-item_author--container">
        <span class="reviews-item--dot"> </span>
        <p class="reviews-item_author">Emily, Los Angeles</p>
      </div>
      <div class="slider-dots">
        <span class="slider-dots_item first-slider"></span>
        <span class="slider-dots_item"></span>
        <span class="slider-dots_item"></span>
      </div>
    </div>
  </div>
</section>
