
<!-- Section 3: How it's made -->
<section class="how-its-made__section">
<div class="ingredients__container">
    <h4 class="TRADITION AND LOVE">TRADITION AND LOVE</h4>
    <h2 class="HOW IT'S MADE?">HOW IT'S MADE?</h2>
    <ul class="organic-milk">
      <p class="ingredient-text__one">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor.<br>
        Nam vel justo cursus, faucibus lorem eget, egestas eros.<br> 
        Maecenas eleifend erat at justo fringilla.</p>
      </div>
      <p class="ingredient-text__two">
       Curabitur lacinia enim at ex blandit, vel pellentesque odio<br>
       elementum. Mauris rhoncus orci in imperdiet placerat.<br> 
      Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.<br> 
      Cras massa nibh, tincidunt.<br><br><br>
                 
      Aliquam erat volutpat. Aenean accumsan.
      </p>
          <picture>
          <source srcset="./images/organicmilk@1x.jpg 1x, ./images/organicmilk@2x.jpg 2x"
          media="(min-width:1200px)" 
          width="501" 
          height="501" />
            <source srcset="./images/organicmilk-tablet@1x.jpg 1x, ./images/organicmilk-tablet@2x.jpg 2x"
            media="(min-width:768px)"
            width="336"
            height="335"/>
            <source srcset="./images/organicmilk-mobile@1x.jpg 1x, ./images/organicmilk-mobile@2x.jpg 2x"
            media="(min-width:320px)"
            width="280"
            height="279"/> 
            <source srcset ="./images/organicmilk-mobile@1x.jpg 1x, ./images/organicmilk-mobile@2x.jpg 2x"
            media="(max-width:320px)"
            width="100%"/>                
            <img
            src="./images/organicmilk.jpg"
            alt="organic milk"
            width="501"
            height="501"/>
        </picture>
          
      </ul>
  </div>
</div>
</div>
<div class="read-more__info">
  <button type="read_info" class="read-more__button">
    Read more
    <svg width="8" height="8" class="read-more__icon">
      <use href="./images/symbol-defs.svg#icon-Vector-1"></use>
    </svg>
  </button>
  </div>
</section>
<section class="ingredients__information">
  <div class="organic__ingredients">
  <svg width="28" height="18" class="cream_svg">
    <use href="./images/symbol-defs.svg#icon-cream"></use>
  </svg>
  </div>
</section>