<section class="locations">
   
    <!-- right-side div  -->
<div class="locations__wrapper "> 
    
    <ul class="locations__list">
        <li class="locations__items">
            <h2 class="locations__title">CAFE</h2>
            <h3 class="locations__city">Chicago</h3>

            <p class="locations__info">Fusce ut velit laoreet, <br>tempus arcu molestie vulputate</p>


            <hr class="locations__line">

        </li>

       

          




        <li class="locations__items">
            <h3 class="locations__days">Monday - Friday</h3>

            <p class="locations__times">06:00 AM - 10:00 PM</p>

        </li>

        <li class="locations__items">
            <h3 class="locations__days">Saturday - Sunday</h3>

            <p class="locations__times">08:00 AM - 16:00 PM</p>

            <hr class="locations__line">

       
            
            <a href="tel:+61(0) 383 766 284" class="locations__tel" >+61(0) 383 766 284</a>

            <br>

            <a href="mailto:noreply@envato.com" class="locations__mail">noreply@envato.com</a>

        </li>
    </ul>
    </div>

    <!-- middle-side div  -->

    <div class="locations__wrapper "> 
    
        <ul class="locations__list">
            <li class="locations__items">
                <h2 class="locations__title locations__title-1">FOOD TRUCK</h2>
                <h3 class="locations__city ">Los Angeles</h3>

                <p class="locations__info">Fusce ut velit laoreet, <br>tempus arcu molestie vulputate</p>


                <hr class="locations__line">

            </li>

           

              




            <li class="locations__items">
                <h3 class="locations__days">Monday - Friday</h3>

                <p class="locations__times">06:00 AM - 10:00 PM</p>

            </li>

            <li class="locations__items">
                <h3 class="locations__days">Saturday - Sunday</h3>

                <p class="locations__times">08:00 AM - 16:00 PM</p>

                <hr class="locations__line">

           
                
                <a href="tel:+61(0) 383 766 284" class="locations__tel" >+61(0) 383 766 284</a>

                
            <br>

                <a href="mailto:noreply@envato.com" class="locations__mail">noreply@envato.com</a>

            </li>
        </ul>
        </div>
        <!--left side div -->
        <div class="locations__wrapper "> 
    
            <ul class="locations__list">
                <li class="locations__items">
                    <h2 class="locations__title">CAFE</h2>
                    <h3 class="locations__city">New York</h3>
    
                    <p class="locations__info">Fusce ut velit laoreet, <br>tempus arcu molestie vulputate</p>
    
    
                    <hr class="locations__line">
    
                </li>
    
               
    
                  
    
    
    
    
                <li class="locations__items">
                    <h3 class="locations__days">Monday - Friday</h3>
    
                    <p class="locations__times">06:00 AM - 10:00 PM</p>
    
                </li>
    
                <li class="locations__items">
                    <h3 class="locations__days">Saturday - Sunday</h3>
    
                    <p class="locations__times">08:00 AM - 16:00 PM</p>
    
                    <hr class="locations__line">
    
               
                    
                    <a href="tel:+61(0) 383 766 284" class="locations__tel" >+61(0) 383 766 284</a>

                    
            <br>
    
                    <a href="mailto:noreply@envato.com" class="locations__mail">noreply@envato.com</a>
    
                </li>
            </ul>
            </div>
        </section>
 <!-- buttons  -->
<section class="locations__button--section">
<div class="container">

<button type="button" class="locations__button">Our Locations 
</button>



<button type="button"  class="locations__button-1">Franchise  </button>   



</div>
  
</section>