<section>
  <h2 class="products__header">100% NATURAL</h1>
  <h3 class="products__subheader">PRODUCTS</h2>
  <div class="products__display">
    <div class="products__strawberry-ice">
      <picture>
        <source
          srcset="
            ./images/strawberry-ice-desktop1x.png,
            ./images/strawberry-ice-desktop2x.png 2x
          "
          media="(min-width:1200px)"
          width="368"
          height="394"
        />
        <source
          srcset="
            ./images/strawberry-ice-tablet1x.png 1x,
            ./images/strawberry-ice-tablet2x.png 2x
          "
          media="(min-width:768px)"
          width="224"
          height="224"
        />
        <source
          srcset="
            ./images/strawberry-ice-mobile1x.png 1x,
            ./images/strawberry-ice-mobile2x.png 2x
          "
          media="(min-width:320px)"
          width="280"
          height="280"
        />
        <img
          src="./images/strawberry-ice-desktop1x.png"
          alt="Strawberry Ice Cream in a Cone"
          width="368"
          height="394"
        />
      </picture>
      <div class="product__text">
      <h3 class="product__sub-subheader">ICE CREAM</br>...</h3>
      <p class="products__subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora autem magni quos ex repellendus labore consequatur aperiam laborum fuga recusandae quod nulla at, consequuntur sed quae obcaecati blanditiis modi eaque?</p>
      </div>
      <picture class="product__strawberry-back">
        <source
          srcset="
            ./images/product-strawberry-desktop1x.jpg,
            ./images/product-strawberry-desktop2x.jpg 2x
          "
          media="(min-width:1200px)"
          width="368"
          height="394"
        />
        <source
          srcset="
            ./images/product-strawberry-tablet1x.jpg 1x,
            ./images/product-strawberry-tablet2x.jpg 2x
          "
          media="(min-width:768px)"
          width="224"
          height="224"
        />
        <source
          srcset="
            ./images/product-strawberry-mobile1x.jpg 1x,
            ./images/product-strawberry-mobile2x.jpg 2x
          "
          media="(min-width:320px)"
          width="280"
          height="280"
        />
        <img
          src="./images/product-strawberry-desktop1x.jpg"
          alt="Strawberry Ice Cream in a Cone"
          width="368"
          height="394"
        />
      </picture>
    </div>
    <div class="products__coffee-ice">
      <picture>
        <source
          srcset="
            ./images/coffee-ice-desktop1x.png,
            ./images/coffee-ice-desktop2x.png 2x
          "
          media="(min-width:1200px)"
          width="368"
          height="394"
        />
        <source
          srcset="
            ./images/coffee-ice-tablet1x.png 1x,
            ./images/coffee-ice-tablet2x.png 2x
          "
          media="(min-width:768px)"
          width="224"
          height="224"
        />
        <source
          srcset="
            ./images/coffee-ice-mobile1x.png 1x,
            ./images/coffee-ice-mobile2x.png 2x
          "
          media="(min-width:320px)"
          width="280"
          height="280"
        />
        <img
          src="./images/coffee-ice-desktop1x.png"
          alt="Strawberry Ice Cream in a Cone"
          width="368"
          height="394"
        />
      </picture>
       <div class="product__text">
      <h3 class="product__sub-subheader">ICE COFFEE</br>...</h3>
      <p class="products__subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora autem magni quos ex repellendus labore consequatur aperiam laborum fuga recusandae quod nulla at, consequuntur sed quae obcaecati blanditiis modi eaque?</p>
      </div>
      <picture class="product__coffee-back">
        <source
          srcset="
            ./images/product-coffee-desktop1x.jpg,
            ./images/product-coffee-desktop2x.jpg 2x
          "
          media="(min-width:1200px)"
          width="368"
          height="394"
        />
        <source
          srcset="
            ./images/product-coffee-tablet1x.jpg 1x,
            ./images/product-coffee-tablet2x.jpg 2x
          "
          media="(min-width:768px)"
          width="224"
          height="224"
        />
        <source
          srcset="
            ./images/product-coffee-mobile1x.jpg 1x,
            ./images/product-coffee-mobile2x.jpg 2x
          "
          media="(min-width:320px)"
          width="280"
          height="280"
        />
        <img
          src="./images/product-coffee-desktop1x.jpg"
          alt="Strawberry Ice Cream in a Cone"
          width="368"
          height="394"
        />
      </picture>
    </div>
    <div class="products__mint-ice">
      <picture>
        <source
          srcset="
            ./images/mint-ice-desktop1x.png,
            ./images/mint-ice-desktop2x.png 2x
          "
          media="(min-width:1200px)"
          width="368"
          height="394"
        />
        <source
          srcset="
            ./images/mint-ice-tablet1x.png 1x,
            ./images/mint-ice-tablet2x.png 2x
          "
          media="(min-width:768px)"
          width="224"
          height="224"
        />
        <source
          srcset="
            ./images/mint-ice-mobile1x.png 1x,
            ./images/mint-ice-mobile2x.png 2x
          "
          media="(min-width:320px)"
          width="280"
          height="280"
        />
        <img
          src="./images/mint-ice-desktop1x.png"
          alt="Strawberry Ice Cream in a Cone"
          width="368"
          height="394"
        />
      </picture>
       <div class="product__text">
      <h3 class="product__sub-subheader">MILKSHAKES</br>...</h3>
      <p class="products__subtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora autem magni quos ex repellendus labore consequatur aperiam laborum fuga recusandae quod nulla at, consequuntur sed quae obcaecati blanditiis modi eaque?</p>
      </div>
      <picture class="product__mint-back">
        <source
          srcset="
            ./images/product-mint-desktop1x.jpg,
            ./images/product-mint-desktop2x.jpg 2x
          "
          media="(min-width:1200px)"
          width="368"
          height="394"
        />
        <source
          srcset="
            ./images/product-mint-tablet1x.jpg 1x,
            ./images/product-mint-tablet2x.jpg 2x
          "
          media="(min-width:768px)"
          width="224"
          height="224"
        />
        <source
          srcset="
            ./images/product-mint-mobile1x.jpg 1x,
            ./images/product-mint-mobile2x.jpg 2x
          "
          media="(min-width:320px)"
          width="280"
          height="280"
        />
        <img
          src="./images/product-mint-desktop1x.jpg"
          alt="Strawberry Ice Cream in a Cone"
          width="368"
          height="394"
        />
      </picture>
    </div>
  </div>
</section>
