      <section class="products"> 
      <h2>PRODUCTS</h2>
      <h3>100% NATURAL</h3>
      <ul class="products__list">
        <li class="products__strawberry">
            <img class="tile" src="/assets/pink-rectangle.png" width="385px" height="535px">
            <h3>ICE CREAM </br>...</h3>
            <img src="/assets/home-pic1.png"/>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est iure non dolor, pariatur assumenda repudiandae nostrum libero fugiat. Laborum, doloremque? Minus rem quia omnis quis iste dolor odio praesentium autem?</p>
            <img src="/assets/arrow-right1.png" width="40px" height="40px"/>
        </li>
        <li class="products__coffee">
            <img class="tile" src="/assets/tan-rectangle.png" width="385px" height="535px">
            <h3>ICE COFFEE</br>...</h3>
            <img src="/assets/home-pic2.png"/>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est iure non dolor, pariatur assumenda repudiandae nostrum libero fugiat. Laborum, doloremque? Minus rem quia omnis quis iste dolor odio praesentium autem?</p>
            <img src="/assets/arrow-right2.png" width="40px" height="40px"/>
        </li>
        <li class="products__milkshake">
            <img class="tile" src="/assets/green-rectangle.png" width="385px" height="535px">
            <h3>MILKSHAKE</br>...</h3>
            <img src="/assets/home-pic3.png"/>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est iure non dolor, pariatur assumenda repudiandae nostrum libero fugiat. Laborum, doloremque? Minus rem quia omnis quis iste dolor odio praesentium autem?</p>
            <img src="/assets/arrow-right4.png" width="40px" height="40px"/>
            
        </li>
    </ul>
    </section>