.advertisment{
    background-color: $pink-color;
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    @media screen and (max-width:460px){
        padding-bottom: 158px;
        
    }

   
}

.ad-description__title{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $white-color;
    padding-top:74px;
    margin-bottom: 24px;
    z-index: 999;
    position: relative;

    & > span{
        color: $passion-color;
    }

    @media screen and (min-width:768px) {
        font-size: 22px;
    }
    @media screen and (min-width:1200px) {
        font-size: 38px;
    }
}
.buttons{
    display: flex;
}
.ad-description__products-button{
    border-radius: 20px;
    border: 0px;
    background-color: $passion-color;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.2;
    text-align: center;
    color:$white-color;
    padding: 7px 15px;
    margin-right: 8px;
    transition: box-shadow $time $time-function;
    cursor: pointer;
    z-index: 999;
    position: relative;
   
    &:hover,
    &:focus{
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        
    }
    @media screen and (min-width:768px) {
        padding:11px 23px;
    }
    @media screen and (min-width:1200px) {
        font-size: 14px;
        margin-right: 12px;
    }
    
}
.ad-description__how-its-made-button{
    border:0px;
    border-radius: 20px;
    background-color: $white-color;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.2;
    text-align: center;
    padding:7px 15px;
    color: $passion-color;
    transition: box-shadow $time $time-function;
    cursor: pointer;
    z-index: 999;
    position: relative;
    // margin-bottom: 150px;
   
    &:hover,
    &:focus{
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    }
    @media screen and (min-width:768px) {
        padding:11px 23px;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
    }
}

.bio-eco{
   
    display: none;

    @media screen and (min-width:768px) {
        display: flex;
        margin-top: 20px;
       
    }
    @media screen and (min-width:1200px) {
        display: flex;
        margin-top: 40px;
        padding-bottom: 60px;
    }

}
.bio-eco__img{
    

    @media screen and (min-width:768px) {
        width: 152px;
        height: 154px;
    }
    @media screen and (min-width:1200px) {
        width: 213px;
        height: 216px;
    }
}

.lorem-container{
    display: none;
    
    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: column;
        width: 114px;
        justify-content: center;
    }
    @media screen and (min-width:1200px) {
        display: flex;
        flex-direction: column;
        width: 200px;
        justify-content: center;
    }
}

.lorem-container__text{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    color: $white-color;
    margin-bottom: 20px;
    padding-top: 40px;

    @media screen and (min-width:768px){
        z-index: 1;
        font-size: 8px;
        line-height: 1.2;
        
    }
    @media screen and (min-width:1200px){
        font-size: 14px;
       ine-height: 1.5;
        
    }
}

.lorem-container__arrow-right{
    
    @media screen and (min-width:768px){
        width: 18px;
        height: 18px;
        
        
    }
    @media screen and (min-width:1200px){
        width: 26px;
        height: 26px;
    }
}

.add-illustration__img{
    
    height: 360px;
    z-index: 1;
   
    
    @media screen and (max-width:460px){
        position: absolute;
        left: 115px;
        
    }
    @media screen and (min-width:768px){
        margin-right: 8px;
        height: 330px;
        
    }
    @media screen and (min-width:1200px){
        height: 550px;
    }
    
}
.lady{
    z-index: 1;
}
.add-illustration__pink-ellipse{
    
    z-index: 0;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 36px;
    top: 83px;

    @media screen and (min-width:768px){
        top: 10%;
        left: -25%;
        width: 325px;
        height: 320px;
        
    }
    @media screen and (min-width:1200px){
        width: 534px;
        height: 534px;
        top: 0;
        left: -30%;
    }
    
}

.add-illustration{
    display: flex;
    justify-content: space-between;
    
    
    @media screen and (min-width:768px){
        padding-top: 72px;
        position: relative;
        
    }
    
   
}

.details{
    display: none;

    @media screen and (min-width:768px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    @media screen and (min-width:1200px){
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.sixteen{
    display: flex;
    flex-direction: column;
    align-items: end;
    
}
.sixteen__number{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    
    line-height: 1.15;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $passion-color;
    position: relative;
    
    
    @media screen and (min-width:768px){
        font-size: 28px;
        right: 5px;
        top: -15px;
    }
    @media screen and (min-width:1200px){
        font-size: 46px;
        right: 14px;
        top: -20px;
    }

}
.sixteen__cafes{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    color: $white-color;
    margin-top: -20px;

    @media screen and (min-width:768px){
        font-size: 8px;
    }
    @media screen and (min-width:1200px){
        font-size: 14px;
    }
}
.sixteen__white-ellipse{
    text-align: right;
    @media screen and (min-width:768px){
        width: 15px;
        height:15px;

        
    }
    @media screen and (min-width:1200px){
        width: 30px;
        height: 30px;
    }
}

.twenty-three{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 18px;
}
.twenty-three__number{
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    
    line-height: 1.15;
    text-align: right;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $passion-color;
    position: relative;
   

    @media screen and (min-width:768px){
        font-size: 28px;
        right: 5px;
        top: -15px;
    }
    @media screen and (min-width:1200px){
        font-size: 46px;
        right: 14px;
        top: -20px;
    }

}
.twenty-three__trucks{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    
    text-align: right;
    color: $white-color;
    margin-top: -20px;
    @media screen and (min-width:768px){
        font-size: 8px;
    }
    @media screen and (min-width:1200px){
        font-size: 14px;
    }
}
.twenty-three__white-circle{
    text-align: right;
    @media screen and (min-width:768px){
        width: 15px;
        height: 15px;
    }
    @media screen and (min-width:1200px){
        width: 30px;
        height: 30px;
    }
}

.lady__img{
    
    @media screen and (min-width:768px){
        width: 190px;
        height: 150px;
        margin-left: 80px;
    }
    @media screen and (min-width:1200px){
        width: 300px;
        height: 250px;
        margin-left: 0px;
    }
}
