header{
  background-color:$pink-color;
}
  
  .nav {
    display: flex;
    align-items: center;
    padding-top: 8px;
  
    @media screen and (min-width: 768px) {
      padding-top: 32px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 37px;
    }
  }
  
  
  .navbar {
    margin-left: 128px;
    display: none;
  
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
    }
  
    &-item:not(:last-child) {
      margin-right: 35px;
    }

    &-item-link {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      color: $white-color;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
      &:hover,
      &:focus {
          color: $passion-color;
      }
        
    }
  }
  
  .btn-buy {
    width: 160px;
    height: 44px;

    background: $white-color;
    border-radius: 22px;
    border: none;
    padding: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    color: $passion-color;
    cursor: pointer;
    
    display: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background: $buton-hover-focus-color;
    }
  
    @media screen and (min-width: 768px) {
      margin-left: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    @media screen and (min-width: 1200px) {
      margin-left: 141px;
      width: 159px;
    }
     
  }
  
  .btn-buy-icon {
    margin-left: 12px;
  }
  
  .btn-burger {
    border: none;
    background-color: transparent;
    margin-left: 61px;
  
    @media screen and (min-width: 768px) {
      margin-left: 293px;
    }
    
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }
  
  