.how-its-made__section{
  background-image: url(/src/images/backgroundphoto.jpg);
  background-size: 1200px;
  background-position: center;
  background-repeat: no-repeat;
}

.ingredient-text__one{
  color:black;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  position: absolute;
  }

.ingredient-text__two{
color:gray;
font-size: 24px;
text-align: right;
position: absolute;
}


.read-more__button{
  position:fixed;
  color: #ffff;

}

.read-more__icon{
  border: 2px solid #D41443;
}
