.how-its-made__section{
  background-image: url(/src/images/backgroundphoto.jpg);
  background-size: 1200px;
  background-position: center;
  background-repeat: no-repeat;
}
.read-more__icon{
  border: 2px solid #D41443;
}