
.locations
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.locations__wrapper
{

   width: 368px;
    height:528px;

    display: flex;

 

   
    

    background: $white-color;
    box-shadow: 0px 8px 30px 
    rgba(212, 20, 67, 0.1);

    border-radius: 24px;

    margin-right: 40px;

    margin-left: 32px;

}

.locations__list
{
    list-style: none;

    padding-right: 40px;

  
}

.locations__title

{


    border: solid 1px $cofee-color;

    background-color: $cofee-color ;

    border-radius: 4px;

    display:flex;
    
    

    margin-top: 40px;
    margin-right: 32px;

    justify-content: center;

    color: #FFFFFF;

    width: 73px;

    height:28px;


    font-weight: 500;
font-size: 16px;
line-height:calc(30/16);

text-align: center;
letter-spacing: 0.04em;

color: $white-color;
}
.locations__title-1
{
    border: solid 1px $milk-shake-color;

    background-color:$milk-shake-color ;

    border-radius: 4px;

    display:flex;

    margin-top: 40px;
    margin-right: 32px;

    justify-content: center;

    color:$white-color;

    width: 73px;

    height:28px;


    font-weight: 500;
font-size: 16px;
line-height:calc(30/16);

text-align: center;
letter-spacing: 0.04em;

color: $white-color;

}

.locations__item
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 40px;

}
.locations__city
{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26/14);
    
    
    letter-spacing: 0.04em;
    
    color:$black;

    padding-bottom: 12px; 
    padding-top: 32px; 
}


.locations__days
{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(26/14);



color:$black;

}
.locations__times
{
 font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(26/14);

margin-bottom: 12px;



color:$natural-pink-color;

}
.locations__info
{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(23/14);
        
    color:$dark-grey-color;
    margin-bottom: 32px;
}

.locations__line
{
    border: 1px solid $quotes-grey-color;

    margin-bottom: 32px;

    display: flex;

    width:160px;

    justify-content: center;

    margin-right: 32px;


    position: relative;

    right: 4%;

 
}

.locations__tel,
.locations__mail
{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(26/14);



color: $dark-grey-color;
}
.locations__button
{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;

align-items: center;
text-align: center;

color:$white-color;

background:$passion-color;
border-radius: 22px;

border: 1px$black;

width:191.45px;

height: 44px;

margin-right: 14.5px;

position: relative;

}

.locations__button-1
{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;

text-align: center;

color: $passion-color;

background:$white-color;
border-radius: 22px;

border: none;

width:191.45px;

height: 44px;

margin-right: 14.5px;

position: relative;

}
.locations__button--section
{
    margin-top: 60px;
    
    justify-content: center;
    display: flex;
    align-items: center;

}
.locations__button-icon
{
    fill :$white-color;
}

