.locations
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.locations__wrapper
{

    width:224px;
    height:528px;
    
    

    background:$white-color ;
    box-shadow: 0px 8px 30px 
    rgba(212, 20, 67, 0.1);

    border-radius: 24px;

    margin-right: 16px;

    margin-left: 32px;

}

.locations__list
{
    list-style: none;
   
}

.locations__title

{


    border: solid 1px $main-bg-color;

    background-color:$main-bg-color ;

    border-radius: 4px;

    display:flex;

    margin-top: 40px;
    margin-right: 32px;

    justify-content: center;

    color: $tertiary-txt-color;

    width: 73px;

    height:28px;


    font-weight: 500;
font-size: 16px;
line-height:calc(30/16);

text-align: center;
letter-spacing: 0.04em;

color: $white-color;
}
.locations__title-1
{
    border: solid 1px  $second-bg-color;

    background-color:$second-bg-color ;

    border-radius: 4px;

    display:flex;

    margin-top: 40px;
    margin-right: 32px;

    justify-content: center;

    color:$white-color;

    width: 73px;

    height:28px;


    font-weight: 500;
font-size: 16px;
line-height:calc(30/16);

text-align: center;
letter-spacing: 0.04em;

color: $white-color;

}

.locations__item
{
    display: flex;
    justify-content: center;
    align-items: center;

}
.locations__city
{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(26/14);
    /* identical to box height, or 26px */
    
    letter-spacing: 0.04em;
    
    color: #000000;

    padding-bottom: 12px; 
    padding-top: 32px; 
}


.locations__days
{
    font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(26/14);
/* identical to box height, or 26px */


color: $main-txt-color;

}
.locations__times
{
 font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(26/14);

margin-bottom: 12px;



color:$secondary-txt-color;

}
.locations__info
{
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(23/14);
        
    color: $social-icon-color;
    margin-bottom: 32px;
}

.locations__line
{
    border: 1px solid $quotes-grey-color;

    margin-bottom: 32px;

    display: flex;

    width:160px;

    justify-content: center;

    margin-right: 32px;


    position: relative;

    right: 4%;

 
}

.locations__tel,
.locations__mail
{
font-family: 'DM Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: calc(26/14);
/* or 26px */

color:$social-icon-color;
}
.locations__button
{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;

align-items: center;
text-align: center;

color: $white-color;

background:$passion-color;
border-radius: 22px;

border: 1px black;

width:191.45px;

height: 44px;

margin-right: 14.5px;

position: relative;

}

.locations__button-1
{
    font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 21px;

text-align: center;




position: relative;

}
.locations__button--section
{
    margin-top: 60px;
    
    justify-content: center;
    display: flex;
    align-items: center;

}
.locations__button-icon
{
    fill: white;
}