.products__display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media screen and (min-width: 321px) {
    margin-left: 64px;
    margin-right: 16px;
    flex-wrap: nowrap;
  }
  @media screen and (min-width: 769px) {
    margin-left: 16px;
    margin-right: 16px;
    flex-wrap: nowrap;
  }

  @media screen and (max-width: 321px) {
    margin-left: 40px;
    margin-right: 20px;
  }
}
.products__header {
  position: block;
  color: $natural-pink-color;
  font-family: titan one;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 60px;

  @media screen and (min-width: 321px) {
    margin-bottom: 18px;
  }
  @media screen and (min-width: 769px) {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (max-width: 321px) {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 1.17;
  }
}
.products__subheader {
  color: $passion-color;
  font-family: titan one;
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.06em;
  @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (max-width: 321px) {
    margin-bottom: 8px;
    font-size: 34px;
    line-height: 1.15;
  }
}
.product__sub-subheader {
  color: $white-color;
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.04em;
  @media screen and (max-width: 321px) {
    font-size: 20px;
    line-height: 1.15;
  }
  @media screen and (min-width: 321px) {
    font-size: 20px;
    line-height: 1.15;
  }
  @media screen and (min-width: 769px) {
    font-size: 30px;
    line-height: 1.13;
  }
}
.products__subtext {
  color: $white-color;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.04em;
  @media screen and (max-width: 321px) {
    font-size: 14px;
    line-height: 1.5;
  }
  @media screen and (min-width: 321px) {
    font-size: 14px;
    line-height: 1.79;
  }
  @media screen and (min-width: 769px) {
    font-size: 16px;
    line-height: 1.75;
  }
}

.product__strawberry-back {
  position: relative;
  z-index: -10;

  @media screen and (min-width: 321px) {
    top: -118px;
  }
  @media screen and (max-width: 321px) {
    top: -160px;
  }
  @media screen and (min-width: 769px) {
    top: -123px;
  }
}
.products__strawberry-ice {
  @media screen and (min-width: 321px) {
    // margin-right: 16px;
  }

  @media screen and (min-width: 769px) {
    // margin-right: 32px;
  }
}
.product__coffee-back {
  position: relative;
  z-index: -10;

  @media screen and (min-width: 321px) {
    top: -118px;
  }
  @media screen and (max-width: 321px) {
    top: -160px;
  }
  @media screen and (min-width: 769px) {
    top: -123px;
  }
}
// .products__coffee-ice {
//   @media screen and (min-width: 321px) {
//     margin-right: 16px;
//   }

//   @media screen and (min-width: 769px) {
//     margin-right: 32px;
//   }
// }
.product__mint-back {
  position: relative;
  z-index: -10;

  @media screen and (min-width: 321px) {
    top: -118px;
    // margin-right: 16px;
  }
  @media screen and (max-width: 321px) {
    top: -160px;
    // margin-right: 20px;
    // margin-left: 20px;
  }
  @media screen and (min-width: 769px) {
    top: -123px;
    // margin-right: 32px;
  }
}
// .products__mint-ice {
//   @media screen and (min-width: 321px) {
//     margin-right: 16px;
//   }

//   @media screen and (min-width: 769px) {
//     margin-right: 32px;
//   }
// }
.product__text {
  position: absolute;
  z-index: 999;
  text-align: center;
  @media screen and (min-width: 321px) {
    width: 224px;
    padding-left: 32px;
    padding-right: 32px;
    // padding-bottom: 112px;
    padding-top: 32px;
  }
  @media screen and (min-width: 769px) {
    width: 368px;
    padding-left: 65px;
    padding-right: 65px;
    // padding-bottom: 160px;
  }

  @media screen and (max-width: 321px) {
    width: 280px;
    padding-left: 39px;
    padding-right: 39px;
    // padding-bottom: 112px;
    padding-top: 20px;
  }
}
.product__arrow {
  display: block;
  position: absolute;
  align-items: center;
  @media screen and (min-width: 321px) {
    margin-top: 32px;
    margin-left: 25%;
  }
  @media screen and (min-width: 769px) {
    margin-top: 60px;
    margin-left: 25%;
  }

  @media screen and (max-width: 321px) {
    margin-top: 32px;
    margin-left: 25%;
  }
}
